@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Slab:wght@100..900&family=Tagesschrift&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
  

.Work-sans {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
/* shared style */
.display-flex{
     display: flex;
}
  /* DARK-1 */
 .dark-1{
    color: #131313;
 }
    /* DARK-2 */
 .dark-3{
color: #727272;
 }
.bg{
    background-color:rgba(255, 144, 14, 0.1) ;
}
.primary-button{
    color: white;
    padding: 20px 25px;
    border-radius: 8px;
    background-color: #FF900E ;
    font-size: 1.25rem;
    border: none;
}
  
/* header style */


/* navber related style */
.navber{
   justify-content: space-between;
   align-items: center;
}
.brand-name{
  font-weight: bold;
  font-size: 3rem;
}
.nav-items{
 list-style: none;
 margin-right:30px ;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.navber ,.banner{
    max-width: 1440px;
    margin:0 auto ;
}
/* banner-related style */
.banner-contant{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
  font-weight:700 ; 
  font-size: 4rem;
}
.banner-image{
width: 100%;
}
/* RESPONSIVE MEDIA QUERY */
@media screen and (max-width:576px ) {
    .navber ,.nav-link{
        flex-direction: column ;
    }
    
}